<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>366729931492-uu38i0j071opfn1lk7ankod2ibh2jjvc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.366729931492-uu38i0j071opfn1lk7ankod2ibh2jjvc</string>
	<key>API_KEY</key>
	<string>AIzaSyB0ke7MskF68htFBwmnpa0mQ9wWeMiP3bE</string>
	<key>GCM_SENDER_ID</key>
	<string>366729931492</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.aiFlutterApp</string>
	<key>PROJECT_ID</key>
	<string>ai-flutter-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ai-flutter-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:366729931492:ios:f6cfd569d3ed33a75a1af1</string>
</dict>
</plist>